div{margin-left: 190px;}
div{margin-top: 180px;}
nav{margin-left: 50px;}
nav{font-size: x-large;}
h1{color:blueviolet}
th{font-size: larger;}
th{font-style: italic;}
th{font-size: x-large;}
table{background-color: blanchedalmond;}
table{width: 90%;height: initial;}
table{border=brown}
nav=volver{align-self: right ;}???????????